{% extends 'base.html.twig' %}
  {% block stylesheets %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  {% endblock %}
{% block body %}
    <div class="container ">
        <form action="{{ path('login') }}" method="post" class="mt-5">
            <h1 class="h1">Connectez-vous</h1>
            <div class=" w-50 p-3 mb-3">
                <label for="exampleFormControlInput1" class="form-label">Adresse Email</label>
                <input type="text" id="username" name="_username" class="form-control p-2 border" required autofocus value="{{ last_username }}">
            </div>
            <div class="w-50 p-3 mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
            <input type="password" id="password" name="_password" class="form-control p-2 border"  required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="w-25 p-3 mb-3">
            <button class="btn btn-success p-2" type="submit">Connexion</button>
            </div>
            {% if error %}
                <div class="alert alert-danger mt-4">
                    {{ error.messageKey | trans(error.messagedata, 'security')}}
                </div>
            {% endif %}
        </form>
    </div>
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}
