{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <button type="submit">ajouter</button>
    {{ form_end(form) }}
{% endblock %}