@charset "UTF-8";
/*
 Installer node.js pour avoir npm : "https://nodejs.org/fr/download/"
 Installer sass : "npm install -g sass"
 Créer la variable d'environnement pour sass dans le PATH
 Command à exécuter dans le terminal : "sass public/static/sass/_style.scss public/static/css/style.css --watch"
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #181819;
}

a {
  text-decoration: none;
}

main {
  min-height: max-content;
}

header {
  background-color: #1e2a47;
  width: 100%;
}

nav {
  font-size: 1.2rem;
  padding: 2rem;
}
nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 3.5rem;
}
nav ul li {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
nav ul li a {
  color: #c9cdd3;
  position: relative;
}
nav ul li a::before {
  background-color: #c9cdd3;
  bottom: -0.4rem;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  width: 0;
}
nav ul li a:hover::before {
  visibility: visible;
  width: 100%;
}
nav .logo {
  filter: brightness(0) invert(1);
  height: 54px;
  width: 54px;
}
nav .login {
  justify-self: flex-end;
  gap: 1rem;
}
nav .login img {
  border-radius: 90%;
  height: 32px;
  width: 32px;
}

form .btn-login {
  background-color: #5cb85c !important;
  color: #fff !important;
  border-radius: 12px !important;
}
form .btn-register {
  width: 150px;
}

footer {
  width: 100%;
  background-color: #000000 !important;
}
footer .container {
  padding: 50px 0;
}
footer .container .row {
  display: flex;
  justify-content: space-between;
}
footer .container .row .col h2 {
  color: #fff;
  margin-bottom: 20px;
}
footer .container .row .col h2:nth-of-type(2) {
  margin-bottom: 0;
  margin-top: 20px;
}
footer .container .row .col p, footer .container .row .col a {
  color: #999999;
}
footer .container .row .col span {
  display: flex;
}
footer .container .row .col span i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 40px;
  width: 40px;
  color: #999999;
  background-color: #1c1c1c;
}
footer .container .row .col span i:nth-of-type(2) {
  margin-left: 5px;
}

.event-body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.group-element {
  display: flex;
  flex-flow: column;
  margin-bottom: 89px;
  max-width: 1200px;
  row-gap: 55px;
}

.event-element {
  display: grid;
  column-gap: 21px;
  grid-template-areas: "image content";
  grid-template-columns: 25% 1fr;
}
.event-element .ee-image {
  align-items: center;
  display: flex;
  grid-area: image;
}
.event-element .ee-image img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.event-element .ee-content {
  display: flex;
  flex-flow: column;
  grid-area: content;
  row-gap: 8px;
}

.ee-content .eec-titre {
  font-size: 2.2rem;
}
.ee-content .eec-subgroup {
  align-items: center;
  color: #484a4c;
  column-gap: 21px;
  display: flex;
  justify-content: start;
}
.ee-content .eec-subgroup .eecs-category {
  font-weight: 700;
}
.ee-content .eec-subgroup .eecs-sport {
  background: #bde0ff;
  border-radius: 8px;
  padding: 5px 8px;
}
.ee-content .eec-description {
  color: #303133;
  line-height: 2rem;
  text-align: justify;
  text-align-last: center;
  word-break: break-word;
}
.ee-content .eec-description, .ee-content .eec-link {
  font-size: 1.3rem;
  margin-top: 13px;
}

/*# sourceMappingURL=style.css.map */
