{% extends 'base.html.twig' %}
{% block title %}{{ event.nom }} - Événement -{% endblock %}
{% block body %}
    <div class="head head-single head-single-event">
        <h1 class="title title-single title-single-event">{{ event.nom }}</h1>
        <div class="subtitle subtitle-single subtitle-single-event">
            <span class="date ecs-date eecs-date">
                <i class="far fa-calendar-plus"></i>
                {% set debut = event.debut|date("m F Y") %}
                {% set fin = event.fin|date("m F Y") %}
                {{ debut }}
                {% if debut != fin %}
                    au {{ fin }}
                {% endif %}
            </span>
            <span class="ecs-registration eecs-registration">
                <i class="fas fa-info-circle"></i>
                {% set haveOne = [] %}
                {% set nbrPlace = event.nombrePlaces %}
                {% for insc in inscriptionCount %}
                    {% if insc.id == event.id %}
                        {% if insc.1 == event.nombrePlaces %}
                            {% trans %}Inscriptions terminées{% endtrans %}
                        {% else%}
                            {% set string = insc.1 > 1 ? 'inscrits' : 'inscrit' %}
                            {% set nbrInscrit = insc.1 %}
                            {% trans %}
                                %nbrInscrit% %string% sur %nbrPlace%
                            {% endtrans %}
                        {% endif%}
                        {% set haveOne = haveOne|merge([event.id]) %}
                    {% endif %}
                {% endfor %}
                {% if haveOne is not null and event.id not in haveOne %}
                    {% trans %}%nbrPlace% places disponibles !{% endtrans %}
                {% endif %}
            </span>
        </div>
    </div>
    <div class="body body-single body-single-event">
    </div>
{% endblock body %}