.head {
    @include display(flex, center, space-between, 21px);
    margin-top: 34px;
    margin-bottom: 55px;
}

.body {
    @include display(flex, center, center);
    flex-flow: column;
}

.footer {
    @include display(flex, center, start, 34px);
    margin-bottom: 55px;
}

.head, .body, .footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.pagination {
    @include display(flex, center, center, 1px);

    span {
        border: 1px solid lighten(black, 80);
        border-radius: 5px;
        padding: 8px;

        a {
            color: $text-color;
        }

        &:hover {
            a {
                color: $primary-lighten;
            }
        }

        &.current {
            background: $text-color;
            color: #fff;
        }
    }
}

.title {
    font-size: $title;
}

.subtitle {
    @include display(flex, $justify: center, $gap: 13px);
    color: $text-color-inferior;
    flex-flow: column;
    font-size: $text-more;
}

.info-primary {
    @include display(flex, center, $gap: 34px);
}

.info {
    @include display(flex, $gap: 8px);
    flex-flow: column;

    i {
        font-weight: 600;
    }
}

.image {
    object-fit: cover;
}

.document {
    width: 100%;

    .document-table {
        @include display(grid, center, start);
        grid-template-rows: 1fr;
        grid-template-columns: max-content;
        width: 100%;

        .document-row-first {
            span {
                font-weight: 600;
            }
        }

        .document-row {
            @include display(grid, center);
            column-gap: 34px;
            grid-template-areas:
                'nom date cat poids action'
            ;
            grid-template-columns: repeat(5, 180px);
            justify-items: start;
            height: 55px;

            * {
                margin-left: 13px;
            }

            [nom] {
                grid-area: nom;
            }

            [date] {
                grid-area: date;
            }

            [cat] {
                grid-area: cat;
            }

            [poids] {
                grid-area: poids;
            }

            [action] {
                grid-area: action;
            }

            span {
                width: max-content;
            }
        }
    }
}

.description, .inscription {
    p {
        color: $text-color-inferior;
        line-height: 1.5rem;
        text-align: justify;
        text-align-last: start;
        word-break: break-word;
    }
}

.description, .inscription, .document {
    @include display(flex, start, center, 21px);
    flex-flow: column;
    margin-top: 34px;

    h2 {
        font-size: $title-minor;
        font-weight: 600;
    }
}

.button {
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 13px 21px;
    text-align: center;
    text-decoration: none;
}

.back {
    color: $text-color;
    font-size: $text-more;
}

.odd {
    background: #f1f2f3;
}

.even {
    background: darken(#f1f2f3, 10);
}

.custom-switch {
    @include display(flex, center);
}

.disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.button-registration {
    background: #0d5e42;

    &:hover {
        background: lighten(#0d5e42, 8);
        color: #fff;
    }
}

.button-unsubsribe {
    background: #d43f3a;

    &:hover {
        background: darken(#d43f3a, 10);
        color: #fff;
    }
}