/*
 Installer node.js pour avoir npm : "https://nodejs.org/fr/download/"
 Installer sass : "npm install -g sass"
 Créer la variable d'environnement pour sass dans le PATH
 Command à exécuter dans le terminal : "sass public/static/sass/style.scss public/static/css/style.css --watch"
 */
//import
@import "../css/reset.css";
//var
$primary: #1e2a47;
$grey: #c9cdd3;
:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
}
main{
    min-height: max-content;
}
//flex-center
@mixin flex-center{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
//main-menu
header{
    background-color: $primary;
    width: 100%;
}
nav{
    font-size: 1.2rem;
    padding: 2rem;
    & ul{
        @include flex-center;
        flex-flow: row wrap;
        gap: 3.5rem;
    }
    & ul li{
        @include flex-center;
        & a{
            color: $grey;
            position: relative;
            &::before{
                background-color: $grey;
                bottom: -.4rem;
                content: "";
                height: 1px;
                left: 0;
                position: absolute;
                transition: all .3s ease-in-out;
                visibility: hidden;
                width: 0;
            }
            &:hover::before{
                visibility: visible;
                width: 100%;
            }
        }
    }
    & .logo{
        filter: brightness(0) invert(1);
        height: 54px;
        width: 54px;
    }
    & .login{
        justify-self: flex-end;
        gap: 1rem;
        & img{
            border-radius: 90%;
            height: 32px;
            width: 32px;
        }
    }
}
// form login and register
form{
    & .btn-login{
        background-color: #5cb85c!important;
        color: #fff!important;
        border-radius: 12px!important;
    }
    & .btn-register{
        width: 150px;
    }
}
// footer
footer{
    width: 100%;
    background-color: #000000!important;
    & .container{
        padding: 50px 0;
        & .row{
            display: flex;
            justify-content: space-between;
            & .col {
                & h2{
                    color: #fff;
                    margin-bottom: 20px;
                }
                & h2:nth-of-type(2){
                    margin-bottom: 0;
                    margin-top: 20px;
                }
                & p,a{
                    color:#999999;
                }
                & span{
                    display: flex;
                    & i{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        height: 40px;
                        width: 40px;
                        color: #999999;
                        background-color: #1c1c1c;
                    }
                    & i:nth-of-type(2){
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}