.profil {

  &_container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 7px 7px 6px 0 #757575;
    max-width: 1200px;

    &_content {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 25%;
      height: 500px;
      background-color: $primary;
      box-shadow: 5px 0 5px 0 #535353;
      z-index: 20;

      &_info {
        color: $grey;

        h2 {
          font-size: 25px;
        }

        h3 {
          padding-bottom: 10px;
        }

        p {
          font-size: 15px;
          padding-bottom: 10px;
        }
      }

      img {
        margin: 10px;
        width: 150px;
        border-radius: 50%;
      }
    }

    &_event {
      width: 75%;
      height: 500px;
      background-color: #f1f1f1;
      overflow-y: scroll;

      span {
        display: flex;
        flex-direction: row;
      }

      h2 {
        font-size: 25px;
        margin: 10px;
      }

      p{
        margin: 10px 10px;
      }

      .image{
        margin: 10px;
        width: 150px;
      }
    }
  }
}